<div class="container mt-5">
    <div style="text-align: center;">

      <div *ngIf="userService.registerMode">
        <h1>Add your To-DO Tasks</h1>
        <p class="lead">Come on in to view your To-DO Tasks...all you need to do is sign up</p>
        <div class="text-center">
          <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">Register</button>
          <button class="btn btn-info btn-lg me-2">Learn More</button>
        </div>
      </div>    

    </div>
  </div>
  